section {
    background-color: #dd429d;
}

main {
    background-image: url(/assets/img/bg-carrosel3.jpg);
}

navbar li a:hover {
    background: rgba(0,0,0,.2);
	border-radius: 4px;
}

.services ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    background-color: black;
    color: pink;
    height: 80px;
}

.carousel {
    background-color: black;
}

.carousel-inner img {
    max-width: 100%;
    width: 400px;
    height: 300px;
    object-fit: contain;
    background-color: #dd429d ;
}

/* @media (max-device-width: 900px) {
    .carousel-inner img {
        width: 500px;
        
        object-fit:none ;
    }
} */

.cards {
    padding-left: 100px;
    padding-right: 100px;
    
}

@media (max-device-width: 900px) {
    .cards {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.about {
    margin: 0 auto;
    width: 70%;
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 10px;
    border-radius: 50px;
}

footer {
    height:100px;
}

.contact  {
    text-align: center;
    text-decoration: none;
    background-image: url(assets/img/footer4.jpg);
    background-size: contain;
}

.contact ul {
    list-style: none;
}